@* @page "/staff"   *@
@page "/staff/{id:int}"
@rendermode InteractiveServer
@using ModuleReview.Data.Models
@using ModuleReview.Services
@inject StaffService staffService
@inject ProgrammeService programmeService
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Staff: View</h3>

<EditForm FormName="Record" Model="@record">
    <div>
        <div class="mb-3">
            <label for="TitleInput" class="form-label">Title</label>
            <div class="col-md-4">
                <InputText id="TitleInput" class="form-control" @bind-Value="record.Title" disabled />
            </div>
        </div>
        <div class="mb-3">
            <label for="ForenameInput" class="form-label">Forename</label>
            <div class="col-md-4">
                <InputText id="ForenameInput" class="form-control" @bind-Value="record.Forename" disabled />
            </div>
        </div>
        <div class="mb-3">
            <label for="SurnameInput" class="form-label">Surname</label>
            <div class="col-md-4">
                <InputText id="SurnameInput" class="form-control" @bind-Value="record.Surname" disabled />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-light" @onclick="HandleDirectAdd">Add</button>
            <button class="btn btn-light" @onclick="HandleDirectEdit">Edit</button>
            <button class="btn btn-light" @onclick="HandleCancel">Cancel</button>
        </div>
    </div>
</EditForm>
<h3>Programmes Leaderships</h3>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Title</th>
            <th>Credits</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var programme in programmes)
        {
            <tr>
                <td>@programme.Id</td>
                <td>@programme.Code</td>
                <td>@programme.Title</td>
                <td>@programme.Credits</td>
                <td><button class="btn btn-primary" @onclick="() => GoToDetailsPage(programme.Id)">View</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int Id { get; set; }
    protected string Title ;

    // [SupplyParameterFromForm]
    Staff record { get; set; } = new Staff();

    private string? currentUrl;

    protected async override Task OnInitializedAsync()
    {
        //programmes = programmeService.GetAll();
        record = new Staff();

        if (Id != 0)
        {
            Title = "View";
            record = staffService.GetByID(Id);
            ApplyFilter();
        }
        else
        {
            HandleDirectAdd();
        }
    }

    private List<Programme>? programmes = new();
    public string searchText;
    void ApplyFilter()
    {
        programmes = programmeService.GetListByProgrammeLeaderid(Id);
    }

     void GoToDetailsPage(int id)
    {
        NavigationManager.NavigateTo($"/programme/{id}");
    }
    public void HandleDirectAdd()
    {
        NavigationManager.NavigateTo("/staff/add");
    }

    public void HandleDirectEdit()
    {
        NavigationManager.NavigateTo("/staff/edit/" + Id);
    }
    
    public void HandleCancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
